venv/
wifi_map.yaml*
targets.json*
tracking.log*
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore Kismet capture/output files
kismet_output*
kismet/logs/

# Ignore Django migration folders across all apps
**/migrations/
**/migrations/**