amqp==5.3.1
asgiref==3.9.1
async-timeout==5.0.1
billiard==4.2.2
binho-host-adapter==0.1.6
brotli==1.2.0
celery==5.5.3
certifi==2025.8.3
cffi==2.0.0
channels==4.3.1
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorzero==2.0
cssselect2==0.9.0
Django==5.2.6
django-filter==25.1
django-jazzmin==3.0.1
djangorestframework==3.16.1
fonttools==4.62.1
gpiozero==2.0.1
gps==3.19
gunicorn==23.0.0
idna==3.10
Jetson.GPIO==2.1.12
kombu==5.5.4
lgpio==0.2.2.0
packaging==25.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.1.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyaml==25.7.0
pycparser==3.0
pydyf==0.12.1
pyftdi==0.57.1
pynmea==0.6.0
pynmea2==1.19.0
pynmeagps==1.0.56
pyphen==0.17.2
pyrtcm==1.1.10
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyubx2==1.2.59
pyusb==1.3.1
PyYAML==6.0.3
redis==6.4.0
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
ruamel.yaml==0.19.1
scapy==2.5.0
six==1.17.0
spidev==3.8
sqlparse==0.5.3
sysv_ipc==1.1.0
tinycss2==1.5.1
tinyhtml5==2.1.0
trackerjacker==2.0.5
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
waveshare-epd @ git+https://github.com/waveshare/e-Paper.git@86aa9932f471a50157cf02fafadc2c1b4a965449#subdirectory=RaspberryPi_JetsonNano/python
wcwidth==0.2.13
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.1
