[Unit]
Description=Trackerjacker Wi-Fi Scanner on %i
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/AirscopeGuardian

ExecStart=/root/AirscopeGuardian/venv/bin/python manage.py start_scan %i
ExecStop=/root/AirscopeGuardian/venv/bin/python manage.py stop_scan %imon
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
