# TEMPLATE — run install.sh to deploy. Do not copy manually.
[Unit]
Description=Trackerjacker Wi-Fi Scanner on %i
After=network.target

[Service]
Type=simple
User=root
# Adjust this to the folder containing your manage.py
WorkingDirectory=@@PROJECT_DIR@@

# Use the Python executable from your virtual environment
ExecStart=@@PROJECT_DIR@@/venv/bin/python manage.py start_scan %i
ExecStop=@@PROJECT_DIR@@/venv/bin/python manage.py stop_scan %imon
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
