[Unit]
Description=Waveshare display service for AirscopeGuardian
After=multi-user.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/AirscopeGuardian

Environment="PATH=/home/pi/AirscopeGuardian/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment=PYTHONUNBUFFERED=1

ExecStart=/home/pi/AirscopeGuardian/venv/bin/python /home/pi/AirscopeGuardian/gpio/waveshare.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
